doctype html
html
	head
		title Container Factory | Build docker containers from github repos.
		meta(http-equiv="X-UA-Compatible",content="IE=8")
		meta(name="viewport" ,content="initial-scale=1, width=device-width")
		meta(charset="utf-8")

		meta(property="og:title", content="ContainerFactory.io")
		meta(property="og:site_name", content="containerfactory.io")
		meta(property="og:description", content="Build docker containers from github repos")
		meta(property="og:type" content="image")
		meta(property="og:image" content="http://containerfactory.io/img/preview.png")

		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Francois+One', type="text/css")
		link(rel='stylesheet', href='/less/style.css')

	body#www
		script(src="/js/build.js")
