doctype html
html
	head
		title Container Factory | Pollution free Docker container creation.
		meta(http-equiv="X-UA-Compatible",content="IE=8")
		meta(name="viewport" ,content="initial-scale=1.0, user-scalable=no")
		meta(charset="utf-8")

		meta(property="og:title", content="ContainerFactory.io")
		meta(property="og:site_name", content="containerfactory.io")
		meta(property="og:description", content="Pollution free Docker container creation.")
		meta(property="og:type" content="image")
		meta(property="og:image" content="")
		
		link(rel='apple-touch-icon', sizes='57x57', href='/img/favi/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/img/favi/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/img/favi/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/img/favi/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/img/favi/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/img/favi/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/img/favi/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/img/favi/apple-touch-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='/img/favi/apple-touch-icon-180x180.png')
		link(rel='icon', type='image/png', href='/img/favi/favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='/img/favi/favicon-194x194.png', sizes='194x194')
		link(rel='icon', type='image/png', href='/img/favi/favicon-96x96.png', sizes='96x96')
		link(rel='icon', type='image/png', href='/img/favi/android-chrome-192x192.png', sizes='192x192')
		link(rel='icon', type='image/png', href='/img/favi/favicon-16x16.png', sizes='16x16')
		link(rel='manifest', href='/img/favi/android-chrome-manifest.json')

		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Francois+One', type="text/css")
		link(rel='stylesheet', href='/less/style.css')

	body#www
		script(src="/js/build.js")
